<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="e-banking" parallel="classes">
	<listeners>
	<listener class-name="com.E_banking.Utilities.Reporting"/>
	</listeners>
	
	<test name="Banking Test">
		<parameter name="browser" value="chrome"/>
		<classes>
		
		<class name="com.E_bankingTestCases.Tc__04"/>
		</classes>
	</test>
</suite>